<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-box-open"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SHLV<sup>5</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">



      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Shelves
      </div>
      {% for sh in shelves %}
      <!-- Nav Item - Shelf -->
      <li class="nav-item {% if sh.id == shelf.id %}active{%endif%}">
        <a class="nav-link" href="{% url 'shelves' sh.id %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>{{ sh.name }}</span></a>
      </li>
      {% endfor %}

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Configuration
      </div>

      <!-- Nav Item - Pages Collapse Menu
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="login.html">Login</a>
            <a class="collapse-item" href="register.html">Register</a>
            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="404.html">404 Page</a>
            <a class="collapse-item" href="blank.html">Blank Page</a>
          </div>
        </div>
      </li>
      -->
      <!-- Nav Item - Tags -->
      <li class="nav-item {% if activetab == 'tags' %}active{%endif%}">
        <a class="nav-link" href="{% url 'tags' %}">
          <i class="fas fa-fw fa-tags"></i>
          <span>Tags</span></a>
      </li>

      <!-- Nav Item - Products -->
      <li class="nav-item {% if activetab == 'products' %}active{%endif%}">
        <a class="nav-link" href="{% url 'products' %}">
          <i class="fas fa-fw fa-th"></i>
          <span>Products</span></a>
      </li>
      <!-- Nav Item - Containers -->
      <li class="nav-item {% if activetab == 'containers' %}active{%endif%}">
        <a class="nav-link" href="{% url 'containers' %}">
          <i class="fas fa-fw fa-box"></i>
          <span>Containers</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
